src/main/resources/xsd/country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Country" type="CountryType"/>

    <xs:complexType name="CountryType">

        <xs:sequence>
            <xs:element name="countryName" type="varchar100"/>
            <xs:element name="postalCode" type="xs:long"/>
        </xs:sequence>

    </xs:complexType>

    <xs:simpleType name="varchar100">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>