src/main/resources/xsd/projectMaterial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="projectMaterial" type="projectMaterialType"/>

    <xs:complexType name="projectMaterialType">
        <xs:sequence>
            <xs:element name="suppliedMaterialId" type="xs:long"/>
            <xs:element name="materialAmount" type="xs:decimal"/>
            <xs:element name="projectId" type="xs:long"/>
            <xs:element name="measure" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>